@tailwind base;
@tailwind components;
@tailwind utilities;

.user-files__item {
    position: relative;
}

.user-files-view-icon {
    margin-top: 1.5rem;
    width: 6rem;
    overflow: hidden;
}

.user-files-view-icon svg {
    display: block;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
}

.user-files-delete-icon svg {
    position: absolute;
    top: 1.5rem;
    right: 0.8rem;
    width: 0.8rem;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20% auto; /* Center the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
